#history {
    margin-top: 30px;
    margin-left: 30px;
}

#history-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 331px;
}

#history-elements p {
    text-align: justify;
}

#image-history {
    width: 285px;
    height: 155px;
    margin-top: 20px;
}

@media (min-width: 834px) {
    #history {
        margin-top: 57px;
        margin-left: 39px;
    }    
    #history-elements {
        margin-top: 16px;
        width: 742px;
    }
    #image-history {
        width: 640px;
        height: 251px;
        margin-top: 30px;
    }
}

@media (min-width: 1512px) {
    #history {
        margin-top: 208px;
        margin-left: 28px;
    }    
    #history-elements {
        flex-wrap: wrap;
        height: 365px;
        margin-top: 45px;
    }
    #history-elements p {
        width: 535px;
    }
    #image-history {
        width: 500px;
        height: 280px;
        margin: 30px 0 0 33px;
    }
}