main {
    height: 500px;
}

#login {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#login-form {
    width: 300px;
}

#login-form h1 {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.input-user {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-user > input {
    padding: 10px 12px;
    border-radius: 4px;
}

.input-user > label {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}

#user-account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-account a {
    margin-top: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.login-button {
    margin-top: 20px;
    text-align: center;
}

#user-button {
    align-items: center;
    padding: 10px 36px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    background: #AACE9B;
    border: 5px;
    border-radius: 5px;
}

.text-error {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: red;
}

.border-error {
    border: 1px solid red;
}

@media (min-width: 834px) {
    main {
        height: 585px;
    }
    #login-form {
        width: 400px;
    }
    #login-form h1 {
        margin-bottom: 50px;
        font-size: 28px;
        line-height: 32px;
    }
    .input-user {
        margin-bottom: 20px;
    }
    .input-user > label {
        font-size: 20px;
        line-height: 24px;
    }
    #user-account a {
        font-size: 22px;
        line-height: 24px;
    }    
    .login-button {
        margin-top: 30px;
    }
    #user-button {
        padding: 14px 55px;
        font-size: 16px;
        line-height: 18px;
    }
    .text-error {
        font-size: 16px;
        line-height: 16px;
    }
}

@media (min-width: 1512px) {
    #login-form h1 {
        font-size: 30px;
        line-height: 34px;
    }
    .input-user > label {
        font-size: 22px;
        line-height: 26px;
    }
    #user-account a {
        font-size: 24px;
        line-height: 28px;
    }    
    #user-button {
        font-size: 20px;
        line-height: 22px;
    }
}