main {
    height: 1250px;
}

#sign-up {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#sign-up h1 {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

#sign-up-form {
    width: 300px;
}

.input-user {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-user > input {
    padding: 10px 12px;
    border-radius: 4px;
    width: 272px;
}

.input-user > label {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}

#user-account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-account a {
    margin-top: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.sign-up-button {
    margin-top: 20px;
    text-align: center;
}

#user-button {
    align-items: center;
    padding: 10px 36px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    background: #AACE9B;
    border: 5px;
    border-radius: 5px;
}

.text-error {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: red;
}

.border-error {
    border: 1px solid red;
}

.background-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #3f3e3e71;
    width: 100vw;
    height: 100vh;
    bottom: 0;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: #AACE9B;
}

.modal-title-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#close-modal {
    float: right;
    font-size: 14px;
    text-align: right;
    border: none;
    background-color: #AACE9B;
}

#modal-text {
    margin-top: 20px;
    font-size: 12px;
}

#understand-button {
    align-self: flex-end;
    width: 80px;
    height: 40px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}

@media (min-width: 834px) {
    main {
        height: 1000px;
    }
    #sign-up h1 {
        margin-bottom: 50px;
        font-size: 28px;
        line-height: 32px;
    }
    #sign-up-form {
        width: 620px;
    }
    #input-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 670px;
        align-content: center;
    }
    .input-user {
        margin-bottom: 20px;
        margin-left: 30px;
    }
    .input-user > label {
        font-size: 20px;
        line-height: 24px;
    }
    #user-account a {
        font-size: 22px;
        line-height: 24px;
    }    
    .sign-up-button {
        margin-top: 30px;
    }
    #user-button {
        padding: 14px 55px;
        font-size: 16px;
        line-height: 18px;
    }
    .text-error {
        font-size: 10px;
        line-height: 10px;
    }
    .modal-container {
        width: 350px;
        height: 300px;
    }
    .modal-title-and-button {
        font-size: 18px;
    }
    #close-modal {
        font-size: 20px;
    }
    #modal-text {
        font-size: 14px;
        line-height: 18px;
    }
    #understand-button {
        width: 120px;
        font-size: 14px;
    }
}

@media (min-width: 1512px) {
    #sign-up h1 {
        font-size: 30px;
        line-height: 34px;
    }
    #input-container {
        height: 730px;
    }
    .input-user > input {
        width: 330px;
    }
    .input-user > label {
        font-size: 22px;
        line-height: 26px;
    }
    #user-account a {
        font-size: 24px;
        line-height: 28px;
    }    
    #user-button {
        font-size: 20px;
        line-height: 22px;
    }
    .text-error {
        font-size: 14px;
        line-height: 14px;
        width: 330px;
    }
    .background-modal {
        right: 0;
    }
    .modal-container {
        width: 550px;
        height: 400px;
    }
    .modal-title-and-button {
        font-size: 28px;
    }
    #close-modal {
        font-size: 28px;
    }
    #modal-text {
        font-size: 22px;
        line-height: 26px;
    }
    #understand-button {
        width: 200px;
        font-size: 22px;
    }
}