<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/header.css">
        <link rel="stylesheet" type="text/css" href="../css/sidebar.css">
        <link rel="stylesheet" type="text/css" href="../css/login.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <script src="../javascript/login.js"></script>
    </head>
    <body>
        <header id="header">
            <img id="burger" src="../../assets/svg/BurgerMenu.svg" alt="Burger Menu">
            <img id="logo" src="../../assets/img/Logo.png" alt="Logo">
        </header>
        <aside id="sidebar">
            <h2>Menu</h2>
            <nav id="sidebar-nav">    
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="sign-up.html">SignUp</a>
                    </li>
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                </ul>
            </nav>
            <h2>Contact</h2>
            <div class="sidebar-contact">
                <img src="../../assets/svg/Message.svg" alt="House">
                <p>trackgenix@gmail.com</p>
            </div>
            <div class="sidebar-contact">
                <img src="../../assets/svg/Telephone.svg" alt="Telephone">
                <p>(+54) 4545-9999</p>
            </div>
            <div class="sidebar-contact">
                <img src="../../assets/svg/House.svg" alt="House">
                <p>1234 Somewhere Road #8254 Nashville.</p>
            </div>
        </aside>
        <main>
            <section id="login">
                <form id="login-form">
                    <h1>LOGIN</h1>
                    <div class="input-user">
                        <label for="user-email">Email</label>
                        <input type="text" id="user-email" placeholder="Example@email.com">
                    </div>
                    <div class="input-user">
                        <label for="user-password">Password</label>
                        <input type="password" id="user-password" placeholder="********">
                    </div>
                    <div id="user-account">
                        <a href="sign-up.html">Don't have an account? SIGN UP</a>
                        <a href="#">Forgot your password?</a>
                    </div>
                    <div class="login-button">
                        <input id="user-button" type="button" value="LOGIN">
                    </div>
                </form>
                <div id="modal" class="background-modal hidden">
                    <div class="modal-container">
                        <div class="modal-title-and-button">
                            <p id="modal-title">   </p>
                            <button id="close-modal">&times</button>
                        </div>
                        <p id="modal-text">   </p>
                        <button id="understand-button">I understand.</button>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div id="footer-social">
                <img src="../../assets/img/TwitterIcon.png" alt="Twitter">
                <img src="../../assets/img/FacebookIcon.png" alt="Facebook">
                <img src="../../assets/img/LinkedInIcon.png" alt="Linkedin">
                <img src="../../assets/img/InstagramIcon.png" alt="Instagram">
                <img src="../../assets/img/GitHubIcon.png" alt="GitHub">
            </div>
            <div id="footer-text">
                <p>Rosario, Argentina</p>
                <p>Copyright &#169 2022 GigaTech Software Solutions SA.</p>
                <p>All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>