body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

a:visited{
	color: #373867;
}

main {
    margin-top: 126px;
    margin-left: 397px;
    border-bottom: 3px solid #AACE9B;
}

#header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 126px;
    left: 0;
    top: 0;
    background-color: #AACE9B;
}

#header-hamburger {
    display: inline;
    position: absolute;
    margin: 0;
    left: 46px;
    top: 41px;
    font-size: 45px;
    color: #373867;
}

#header-search {
    position: absolute;
    width: 377px;
    height: 36px;
    left: 568px;
    top: 45px;
    background-color: #D8E7EB;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
}

#button-search {
    position: absolute;
    left: 582px;
    right: 910px;
    top: 54px;
    bottom: 53px;
}

#sidebar {
    position: fixed;
    z-index: 1;
    width: 397px;
    top: 126px;
    height: 100%;
    padding-top: 80px;
    border-right: 2px solid #BFBFBF;
    background-color: #FFFFFF;
}

.sidebar-elements {
    padding-left: 55px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #373867;
}

.sidebar-elements h2 {
    margin: 0;
    padding-bottom: 32px;
    width: fit-content;
    border-bottom: 3px solid #AACE9B;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    color: #373867;
}

#sidebar-nav {
    margin-top: 30px;
    margin-bottom: 36px;
}

.sidebar-nav-list-item {
    margin-left: -55px;
    padding-left: 55px;
    padding-top: 36px;
    padding-bottom: 36px;
    border-bottom: 2px solid #cdcccc;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    color: #373867;
}

.sidebar-nav-list-item > a {
    text-decoration: none;
}

.sidebar-contact {
    padding-top: 29px;
    padding-left: 55px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #373867;
}

.sidebar-contact > p {
    padding-bottom: 16px;
}

.sidebar-contact > address {
    padding-bottom: 16px;
}

#title {
    padding-left: 28px;
    padding-top: 65px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #373867;
}

#subtitle {
    padding-left: 28px;
    padding-top: 37px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #AACE9B;
}

#text {
    width: 617px;
    padding-left: 28px;
    padding-top: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
}

#button {
    margin-top: 36px;
    margin-left: 28px;
    padding: 27px 36px;
    border: 3px solid #AACE9B;
    border-radius: 5px;
    background: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #AACE9B;
}

#working {
    position: absolute;
    width: 458px;
    height: 449px;
    top: 191px;
    left: 1019px;
    right: 35px;
}

h3 {
    width: fit-content;
    padding-bottom: 13px;
    border-bottom: 3px solid #AACE9B;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    color: #373867;
}

#features {
    margin-left: 28px;
    margin-top: 230px;
}

#image-database {
    display: none;
}

.features-element {
    display: inline-block;
    position: relative;
    width: 35%;
}

.features-element > p {
    display: inline-block;
    position: absolute;
    top: 45%;
    width: 185px;
    padding-left: 71px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
}

.features-element p:nth-child(0n+2) {
    bottom: 20p;
}

.features-element > img {
    display: inline-block;
    padding-top: 30px;
    height: 88.91px;
}

#why-use {
    margin-left: 28px;
    margin-top: 115px;
    height: 331px;
}

#why-use-content {
    position: relative;
    height: 100%;
}

#image-connectivity {
    position: absolute;
    top: 45px;
    width: 331px;
    height: 241px;
}

#why-use-list {
    position: absolute;
    left: 458px;
    top: 45px;
}

#why-use-list li {
    padding-bottom: 42px;
    padding-left: 31px;
    list-style-image: url("../../assets/img/WhyUseList.png");
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
}

#form {
    margin-left: 28px;
    margin-top: 142px;
}

#form-information {
    padding-top: 39px;
    width: 659px;
}

.form-information-group {
    width: 100%;
    padding-bottom: 30px;
}

.form-information-group input, .form-information-group textarea, .form-information-group select {
    border: 2px solid #AACE9B;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-information-group input[type="text"], .form-information-group select {
    width: 100%;
    height: 49px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #C4C4C4;
    } 

.form-information-group textarea {
    padding-top: 10px;
    width: 100%;
    height: 203px;
}

.form-information-group select {
    padding-left: 12px;
}

::placeholder {
    padding-left: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #C4C4C4;
  }

#form-buttoms {
    text-align: end;
}

#form-buttoms > input {
    width: 135px;
    height: 50px;
}

#cancel-buttom {
    margin-right: 12px;
    background: #FFFFFF;
    border: 3px solid #AACE9B;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #AACE9B;
}

#send-buttom {
    background: #AACE9B;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

#history {
    margin-left: 28px;
    margin-top: 208px;
    height: 358px;
}

#history-elements {
    width: 560px;
    padding-top: 45px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
}

#image-history {
    position: absolute;
    width: 456px;
    height: 256px;
    left: 1021px;
    top: 2557px;
    right: 35px;
}

#tablet-history {
    display: none;
}

#final-section {
    margin-left: 98px;
    margin-top: 181px;
    width: 900px;
    height: 267px;
}

h4 {
    padding-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
}

.products-company-support {
	float:left;
    padding-right: 100px;
    padding-left: 42px;
	border-right: 2px solid #909090;
}

.products-company-support:nth-last-child(1) {
    border: 0;
}

.final-section-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
}

footer {
    margin-left: 397px;
    padding-bottom: 69px;
    padding-top: 56px;
}

#footer-social {
    text-align: center;
}

.footer-images {
    padding-right: 21px;
    width: 29px;
    height: 29px;
}

#footer-text {
    margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #373867;
}