#features {
    margin-left: 30px;
    margin-top: 40px;
}

#features-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.features-element {
    display: flex;
    align-items: center;
    width: 45%;
    margin-bottom: 30px;
}

.features-element > p {
    padding-left: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: #373867;
}

.features-element > img {
    box-sizing: content-box;
    padding: 12px;
    width: 15px;
    border: solid 1px #AACE9B;
    border-radius: 5px;
}