#first-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
}

#first-section h1, h2 {
    order: 0;
}

#first-section p {
    order: 2;
}

.title {
    margin-top: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #373867;
}

.subtitle {
    margin-top: 5px;
    font-style: normal;
    font-weight: 700;
    color: #AACE9B;
}

.text {
    width: 283px;
    margin-top: 5px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    color: #373867;
}

.button {
    display: none;
}

#working {
    width: 155px;
    height: 144px;
    margin-top: 5px;
}