#first-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
}

#first-section h1, h2 {
    order: 0;
}

#first-section p {
    order: 2;
}

.title {
    margin-top: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #373867;
}

.subtitle {
    margin-top: 5px;
    font-style: normal;
    font-weight: 700;
    color: #AACE9B;
}

.text {
    width: 283px;
    margin-top: 5px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    color: #373867;
}

.button {
    display: none;
}

#working {
    width: 155px;
    height: 144px;
    margin-top: 5px;
}

@media (min-width: 834px) {
    #first-section {
        padding-top: 92px;
    }
    .title {
        margin-top: 62px;
        font-size: 68px;
        line-height: 80px;
    }
    .subtitle {
        margin-top: 18px;
        font-size: 21px;
        line-height: 24px;
    }
    .text {
        width: 562px;
        margin-top: 14px;
        font-size: 30px;
        line-height: 35px;
    }
    #working {
        width: 196px;
        height: 226px;
        margin-top: 12px;
    }
}