#form {
    margin-top: 30px;
    margin-left: 30px;
}

#form-information {
    display: flex;
    flex-direction: column;
}

#form-information input[type="text"], #form-information textarea, #form-information select {
    border: 1px solid #AACE9B;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 15px;
    padding: 8px;
}

#form-information input[type="text"], #form-information select, #form-information textarea {
    width: 300px;
    color: #C4C4C4;
} 

#form-information textarea {
    padding-bottom: 72px;
}

#form-buttoms {
    align-self: end;
    margin-right: 36px;
    margin-top: 20px;
}

#cancel-buttom {
    margin-right: 15px;
    padding: 10px 24px;
    background: #FFFFFF;
    border: 1px solid #AACE9B;
    border-radius: 5px;
    font-weight: 500;
    color: #AACE9B;
}

#send-buttom {
    padding: 10px 24px;
    background: #AACE9B;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 834px) {
    #form {
        margin-top: 56px;
        margin-left: 39px;
    }
    #form-information input[type="text"], #form-information textarea, #form-information select {
        border: 2px solid #AACE9B;
        margin-top: 30px;
        padding: 10px 12px;
    }
    #form-information input[type="text"], #form-information select, #form-information textarea {
        width: 744px;
    } 
    #form-information textarea {
        padding-bottom: 203px;
    }
    #form-buttoms {
        margin-right: 51px;
        margin-top: 30px;
    }
    #form-buttoms input {
        width: 152px;
        height: 50px;
    }
    #cancel-buttom {
        margin-right: 22px;
        padding: 14px 36px;
        border: 3px solid #AACE9B;
        font-weight: 700;
        font-size: 15px;
        line-height: 17px;
        color: #AACE9B;
    }
    #send-buttom {
        padding: 14px 36px;
        font-weight: 700;
        font-size: 15px;
        line-height: 17px;
    }
}

@media (min-width: 1512px) {
    #form {
        margin-left: 28px;
        margin-top: 142px;
    }
    #form-information input[type="text"], #form-information select, #form-information textarea {
        width: 659px;
    } 
    #form-buttoms {
        margin-right: 411px;
    }
    #form-buttoms input {
        width: 135px;
        height: 50px;
    }
}