#header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #AACE9B;
}

#header img {
    margin-left: 10px;
}

#header input {
    margin: auto;
    padding: 0;
    width: 150px;   
    height: 15px;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    background: #FAFBFD url(../../assets/img/Button\ Search.png) no-repeat 3% center;
    background-size: 8px 8px;
    align-content: center;
}

@media (min-width: 834px) {
    #header {
        height: 92px;
    }
    #header img {
        width: 30px;
        height: 30px;
        margin-left: 33px;
    }
    #header input {
        width: 377px;
        height: 36px;
        background-size: 20px 20px;
    }
}