* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #373867;
}

main {
    border-bottom: 3px solid #AACE9B;
}

h3 {
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 2px solid #AACE9B;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700; 
}

h4 {
    padding-bottom: 15px;
    font-weight: 700;
}

::placeholder {
    color: #C4C4C4;
  }

