#why-use {
    margin-left: 30px;
}

#why-use-content {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

#why-use-list {
    padding-left: 34px;
}

#why-use-list li {
    margin-bottom: 20px;
    list-style-image: url("../../assets/img/WhyUseList.png");
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #373867;
}

#why-use-list li:nth-last-child(1) {
    margin: 0;
}

#image-connectivity {
    width: 130px;
    height: 95px;
}